@mixin line {
  content: "\a";
  white-space: pre;
  border-right: 1px solid #D8D8D8;
  position: absolute;
  height: 5.25rem;
  left: 50%;
  top: -13.2rem;
  z-index: 1;
}

@mixin circle {
  align-items: center;
  justify-content: center;
  content: "01";
  border: 1px solid #D8D8D8;
  border-radius: 50%;
  color: #87879D;
  display: flex;
  flex-direction: row;
  font-size: 1rem;
  font-weight: 900;
  height: 56px;
  left: 50%;
  margin-left: -29px;
  position: absolute;
  top: -8rem;
  width: 56px;
}