@use 'abstracts/variables' as *;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-family: 'Red Hat Display', sans-serif;
  text-align: center;
}

.header {
  &__logo {
    margin: 3rem auto 3.375rem;
  }

  &__hero {
    display: flex;
    min-height: 9.6rem;
    margin-bottom: 3rem;

    img {
      max-width: 53%;
    }

    &--left {
      margin-left: -1.2rem;
    }

    &--right {
      margin-left: 1.2rem;
    }
  }
}

.main {
  &__title {
    color: $title-color;
    font-size: 2.5rem;
  }
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.footer {
  .attribution {
    padding-top: 1rem;
    font-size: 11px; text-align: center;

    a {
      color: hsl(228, 45%, 44%);
    }
  }
}